<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
   <Appenders>
      <Console name="CONSOLE" target="SYSTEM_OUT">
         <ThresholdFilter level="${sys:console.loglevel:-ALL}" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="[%style{%d{ISO8601}}{Bright,Cyan}][%style{%-20.20t}{Bright,Magenta}] %highlight{%5p} %style{%c{1}}{Blue,Bright} %m - %style{%x}{Bright,Black}%n%style{%throwable{200}}{Red,Bright}" disableAnsi="false"/>
      </Console>
   </Appenders>

   <Loggers>
      <Root level="info">
         <AppenderRef ref="CONSOLE"/>
      </Root>
   </Loggers>
</Configuration>